body {
  min-height: 150vh;
}

.wrapper-sticky {
  background-color: yellow;
  height: 150px;
  margin-bottom: 100px;
}

.sticky {
  position: sticky;
  top: 0;
  background-color: red;;
  width: 200px;
  height: 100px;
}