.bg-ticker {
  background-image: linear-gradient(to right, #F4B8B8, #EAD6B5, #E3EAB3, #C5F1D0);
}

.ticker-scroll-animation {
  animation: ticker-scroll 130s linear infinite;
}
.ticker-scroll-animation:hover {
  animation-play-state: paused;
}

@keyframes ticker-scroll {
  100% {
    transform: translateX(-50%);
  }
}