@import "tailwindcss";


.page-heading {
  font-family: "Wix Madefor Display", sans-serif;
  font-size: 26px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: -1px;
  color: #232325;
}



.hide-mobile {
  clip-path: inset(50%);
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
}


@media (width > 480px) {
  .page-heading {
    font-size: 32px;
    line-height: 35px;
  }
  
}



@media (width >= 768px ) {
   .hide-mobile {
    clip-path: none;
    position: static;
    width: auto;
    height: auto;
    overflow: visible;
  }
  

  .page-heading {
    font-size: 38px;
    line-height: 40px;
  }
}

@media (width >= 1024px) {
  .page-heading {
    font-size: 44px;
    line-height: 46px;
  }
}

@media (width >= 1280px) {
  .page-heading {
    font-size: 50px;
    line-height: 52px;
  }
}


