@import "tailwindcss";

* {
  margin: 0;
  padding: 0;
}

body {
  position: relative;
  z-index: -100;
}

.footer-content-wrapper {
  position: relative;
  z-index: -50;
}

.gradients {
  z-index: -1;
}