.header {
  position: fixed;
  top: 16px;
  display: flex;
  width: 100%;
  justify-content: center;
  z-index: 100;
}

.top-menu {
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 14px 20px;
  background-color: #FFFFFFEB;
  border-radius: 18px;
  box-shadow: 0px 0px 12px 0px #182CC20D; 
  backdrop-filter: blur(8px);
}

.logo__text {
  font-family: "Wix Madefor Display", sans-serif;
  font-size: 22px;
  font-weight: 600;
  line-height: 22px;
  letter-spacing: -1px;

  background-image: linear-gradient(to right, #2093FE, #C217FEE5);
  color: transparent;
  background-clip: text;
}

.logo__text::before {
  content: "<";
}
.logo__text::after {
  content: "/>";
}
.logo__text--thin {
  font-weight: 400;
}
 
.top-menu-btn {
  display: flex;
  gap: 6px;
  align-items: center;
  border: 1px solid transparent;
  font-family: "Wix Madefor Text", sans-serif;
  font-size: 16px;
  line-height: 20px;
  cursor: pointer;
  transition: border-color 0.25s;
  background: transparent;
  border: none;
}
.top-menu-btn:hover {
  border-color: #646cff;
}


@media (width >= 1024px) {
  .top-menu-btn {
    font-size: 18px;
    line-height: 22px;
  }
}