.category-btn {
  position: relative;
  font-family: "Wix Madefor Text", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: -0.5px;
  color: #232325;
  background-color: #F6F6F6;
  border-radius: 12px;
  padding: 5px 15px;
  border: none;
  isolation: isolate;
  overflow: hidden;
  transition: color .1s;
}


.active {
  color: white;
}

.category-btn::before {
  content: '';
  position: absolute;
  inset: 0;
  background: linear-gradient(to right, #2093FE, #C217FEE5);
  background-color: transparent;
  opacity: 0;
  z-index: -1;
  transition: opacity .1s;
}
.category-btn.active {
  color: #ffffff;
}
.category-btn.active::before {
  background-color: transparent;
  color: #FFFFFF;
  opacity: 1;
}