.main {
  padding-inline: 15px;
  /* min-height: 308px; */
}

.title-block {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-block: 100px;
  align-items: flex-start;
  align-items: center;
}

.title-block-heading {
  font-size: 24px;
  line-height: 28px;
}
