.main {
  padding-inline: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.main::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 50%;
  background-image: url('/main-bg.webp');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  z-index: -10;
}

.main-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.title-block {
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  gap: 10px;
  margin-top: 110px;
  margin-bottom: 30px;
  align-items: flex-start;
}

.title-block-heading {
  font-family: "Wix Madefor Display", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #232325;
  text-align: left;
}

.title-block-text {
  font-family: "Wix Madefor Display", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: -0.5px;
  color: #414246;
  margin-bottom: 30px;
}

.vacancies {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
  margin-bottom: 15px;
}









@media (width > 480px) {
  .main {
    padding-inline: 10%;
  }

  .title-block {
    gap: 12px;
  }

  .title-block-heading {
    font-size: 30px;
    line-height: 34px;
  }


  .title-block-text {
    font-size: 15px;
    line-height: 19px;
  }

  .vacancies {
    gap: 12px;
  }
}

@media (width >= 768px ) {
  .main {
    padding-inline: 15%;
  }
  .title-block {
    gap: 15px;
  }

  .title-block-heading {
    font-size: 36px;
    line-height: 40px;
  }

  .title-block-text {
    font-size: 16px;
    line-height: 20px;
  }

  .vacancies {
    gap: 14px;
    grid-template-columns: 1fr 1fr;
  }
}

@media (width >= 1024px) {
  .title-block {
    gap: 18px;
  }

  .title-block-heading {
    font-size: 43px;
    line-height: 46px;
  }

  .vacancies {
    gap: 15px;
  }

  .title-block-text {
    font-size: 17px;
    line-height: 21px;
  }
}

@media (width >= 1280px) {
  .title-block {
    gap: 20px;
    max-width: 85%;
  }
  .title-block-heading {
    font-size: 50px;
    line-height: 52px;
  }
  
  .vacancies {
    gap: 16px;
  }

  .title-block-text {
    font-size: 18px;
    line-height: 22px;
  }
}